@use 'var';

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$primary-color;
  color: var.$second-color;

  &__logo {
    margin-left: 20px;
  }

  &__image {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    border-radius: 50%;
  }

  &__heading {
    font-family: var.$font;
    font-size: 6rem;
    animation: pulse infinite 14s linear alternate;
  }
}

@keyframes pulse {
  20% {
    color: magenta;
  }

  40% {
    color: blue;
  }

  60% {
    color: green;
  }

  80% {
    color: brown;
  }

  100% {
    color: gold;
  }
}

.menu {
  &__list {
    margin-right: 40px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__item {
    margin-left: 40px;
  }

  &__link {
    text-decoration: none;
    font-size: 3rem;
    font-family: var.$font;
    color: var.$three-color;

    &:hover {
      color: red;
    }
  }
}
